<section>
    <header>
        <h1>Medals per Country</h1>
    </header>

    @if(numberOfCountries) {
        <div class="number-cards">
            <div class="number-card">
                <p class="label">Number of JOs</p>
                <p class="number">{{ numberOfJos }}</p>
            </div>
            <div class="number-card">
                <p class="label">Number of countries</p>
                <p class="number">{{ numberOfCountries }}</p>
            </div>
        </div>
        <div class="chart-wrapper">
            <ngx-charts-pie-chart [legend]="false" [results]="chartData" [labels]="true" [trimLabels]="false"
                (select)="onChartClick($event)"
                >
                <ng-template #tooltipTemplate let-model="model">
                    <p class="tooltip-label">
                        {{ model.name }}
                    </p>
                    <p class="tooltip-medals">
                        <span>{{ model.value }}</span>
                    </p>
                </ng-template>
            </ngx-charts-pie-chart>
        </div>
    }
</section>