/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
    margin: .5rem 0;
}

.wrapper {
    width: 100%;
    padding: 1em;
    margin: auto;
    max-width: 1024px;
}

/* Page title */
h1 {
    font-size: 1.25em;
    background-color: rgb(4, 131, 143);
    color: white;
    display: inline-block;
    margin: 1em auto;
    padding: .75em 1em;
    border-radius: 1rem;
    font-weight: 400;
    
}

/* Number cards (used in home and detail pages) */

.number-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.number-card {
    position: relative;
    padding: .75em 1.25em;
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: .5rem;
        bottom: .5rem;
        left: 1em;
        right: 1em;
        border-radius: 1rem;
        border: .2rem solid rgb(4, 131, 143);
        z-index: 0;
    }

    .label {
        color: rgb(102, 102, 102);
    }

    .number {
        color: black;
        font-weight: 900;
        font-size: 1.25em;
    }
}

/* Charts styling */

/* Wrap charts in a responsive container with a aspect-ratio of 2:1 */
.chart-wrapper {
    aspect-ratio: 2 / 1;
}

/* Tooltips */
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    font-size: 1.125rem;
    background-color: rgb(4, 131, 143);
    padding: .25em 1em;
    border-radius: .4rem;
    .tooltip-caret.position-bottom, .tooltip-caret.position-top {
        border-top-color: rgb(4, 131, 143);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
}
/* Labels */
text.pie-label {
    font-size: 1.125rem;
}

/* Responsiveness */
@media screen and (min-width: 1024px) {
    .number-card {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}